@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v13/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f7;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.title,
.contact {
  text-align: center;
  padding: 2em;
}
.title .head,
.contact .head {
  font-size: 30px;
  line-height: 40px;
}
.title small,
.contact small {
  font-size: 17px;
  line-height: 28px;
  color: #737373;
  margin-bottom: 20px;
}
.portfolios {
  margin: 2rem 0 0 0;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.portfolios img {
  width: 100%;
  border-radius: 10%;
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-description {
  padding: 2rem 1rem;
  margin-bottom: 1.5em;
  border-radius: 10%;
}
.portfolios .project-description h1 {
  color: #ccac00;
  text-align: left;
}
.portfolios .project-description p {
  margin-top: 1rem;
  text-align: left;
  color: #737373;
}
.portfolios .projects {
  margin-bottom: 3rem;
}
.portfolios .project-1 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-1 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-2 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-2 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-2 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-3 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-3 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-4 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-4 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-4 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-5 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-5 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-6 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-6 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-6 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-7 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-7 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-8 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-8 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-8 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-9 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-9 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-10 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-10 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-10 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-11 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-11 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-12 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-12 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-12 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-13 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-13 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-14 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-14 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-14 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-15 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-15 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-16 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-16 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-16 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-17 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-17 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-18 {
  display: flex;
  flex-wrap: wrap;
}
.portfolios .project-18 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-18 img {
  margin-bottom: 1.5em;
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.contact {
  background-color: gold;
  padding: 2em;
}
.contact input,
.contact textarea {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-top: 1em;
  width: 85%;
}
.contact textarea {
  resize: none;
}
.contact input[type="button"] {
  color: white;
  background-color: #ccac00;
  width: 95%;
}
::placeholder {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
footer {
  color: #ccac00;
  padding: 0.5em 2em;
}
footer a {
  color: #ccac00;
  float: right;
}
footer a svg {
  margin-right: 10px;
}
footer p {
  font-size: large;
  display: inline;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .portfolios .project-1 {
    flex-wrap: nowrap;
  }
  .portfolios .project-1 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-2 {
    flex-wrap: nowrap;
  }
  .portfolios .project-2 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-3 {
    flex-wrap: nowrap;
  }
  .portfolios .project-3 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-4 {
    flex-wrap: nowrap;
  }
  .portfolios .project-4 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-5 {
    flex-wrap: nowrap;
  }
  .portfolios .project-5 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-6 {
    flex-wrap: nowrap;
  }
  .portfolios .project-6 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-7 {
    flex-wrap: nowrap;
  }
  .portfolios .project-7 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-8 {
    flex-wrap: nowrap;
  }
  .portfolios .project-8 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-9 {
    flex-wrap: nowrap;
  }
  .portfolios .project-9 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-10 {
    flex-wrap: nowrap;
  }
  .portfolios .project-10 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-11 {
    flex-wrap: nowrap;
  }
  .portfolios .project-11 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-12 {
    flex-wrap: nowrap;
  }
  .portfolios .project-12 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-13 {
    flex-wrap: nowrap;
  }
  .portfolios .project-13 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-14 {
    flex-wrap: nowrap;
  }
  .portfolios .project-14 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-15 {
    flex-wrap: nowrap;
  }
  .portfolios .project-15 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-16 {
    flex-wrap: nowrap;
  }
  .portfolios .project-16 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-17 {
    flex-wrap: nowrap;
  }
  .portfolios .project-17 .project-description {
    position: relative;
    left: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios .project-18 {
    flex-wrap: nowrap;
  }
  .portfolios .project-18 .project-description {
    position: relative;
    right: 50px;
    top: 2.5em;
    height: 50%;
    padding: 1rem 1rem;
  }
  .portfolios img {
    height: 300px;
    width: 300px;
  }
}
/* Medium devices (landscape tablets, 769px and up) */
@media only screen and (min-width: 769px) {
  .portfolios .project-1 {
    flex-wrap: nowrap;
  }
  .portfolios .project-1 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 15px;
    font-weight: 500;
    padding: 1rem 1rem;
  }
  .portfolios .project-2 {
    flex-wrap: nowrap;
  }
  .portfolios .project-2 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-3 {
    flex-wrap: nowrap;
  }
  .portfolios .project-3 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-4 {
    flex-wrap: nowrap;
  }
  .portfolios .project-4 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-5 {
    flex-wrap: nowrap;
  }
  .portfolios .project-5 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-6 {
    flex-wrap: nowrap;
  }
  .portfolios .project-6 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-7 {
    flex-wrap: nowrap;
  }
  .portfolios .project-7 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-8 {
    flex-wrap: nowrap;
  }
  .portfolios .project-8 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-9 {
    flex-wrap: nowrap;
  }
  .portfolios .project-9 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-10 {
    flex-wrap: nowrap;
  }
  .portfolios .project-10 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-11 {
    flex-wrap: nowrap;
  }
  .portfolios .project-11 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-12 {
    flex-wrap: nowrap;
  }
  .portfolios .project-12 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-13 {
    flex-wrap: nowrap;
  }
  .portfolios .project-13 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-14 {
    flex-wrap: nowrap;
  }
  .portfolios .project-14 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-15 {
    flex-wrap: nowrap;
  }
  .portfolios .project-15 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-16 {
    flex-wrap: nowrap;
  }
  .portfolios .project-16 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-17 {
    flex-wrap: nowrap;
  }
  .portfolios .project-17 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios .project-18 {
    flex-wrap: nowrap;
  }
  .portfolios .project-18 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    padding: 1rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  .portfolios img {
    height: 250px;
    width: 300px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .portfolios .project-1 {
    flex-wrap: nowrap;
  }
  .portfolios .project-1 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-2 {
    flex-wrap: nowrap;
  }
  .portfolios .project-2 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-3 {
    flex-wrap: nowrap;
  }
  .portfolios .project-3 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-4 {
    flex-wrap: nowrap;
  }
  .portfolios .project-4 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-5 {
    flex-wrap: nowrap;
  }
  .portfolios .project-5 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-6 {
    flex-wrap: nowrap;
  }
  .portfolios .project-6 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-7 {
    flex-wrap: nowrap;
  }
  .portfolios .project-7 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-8 {
    flex-wrap: nowrap;
  }
  .portfolios .project-8 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-9 {
    flex-wrap: nowrap;
  }
  .portfolios .project-9 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-10 {
    flex-wrap: nowrap;
  }
  .portfolios .project-10 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-11 {
    flex-wrap: nowrap;
  }
  .portfolios .project-11 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-12 {
    flex-wrap: nowrap;
  }
  .portfolios .project-12 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-13 {
    flex-wrap: nowrap;
  }
  .portfolios .project-13 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-14 {
    flex-wrap: nowrap;
  }
  .portfolios .project-14 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-15 {
    flex-wrap: nowrap;
  }
  .portfolios .project-15 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-16 {
    flex-wrap: nowrap;
  }
  .portfolios .project-16 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-17 {
    flex-wrap: nowrap;
  }
  .portfolios .project-17 .project-description {
    position: relative;
    left: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios .project-18 {
    flex-wrap: nowrap;
  }
  .portfolios .project-18 .project-description {
    position: relative;
    right: 50px;
    top: 1em;
    font-size: 17px;
    padding: 2rem 2rem;
  }
  .portfolios img {
    height: 290px;
    width: 370px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .circle {
    position: absolute;
    opacity: 0.4;
    margin: -10%;
  }
  .portfolios .project-1 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-1 .project-description {
    position: relative;
    left: 50px;
    max-width: 400px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-1 .project-description h1 {
    text-align: right;
  }
  .portfolios .project-2 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-2 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-3 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-3 .project-description {
    position: relative;
    left: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-4 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-4 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-5 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-5 .project-description {
    position: relative;
    left: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-6 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-6 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-7 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-7 .project-description {
    position: relative;
    left: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-8 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-8 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-9 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-9 .project-description {
    position: relative;
    left: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-10 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-10 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-11 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-11 .project-description {
    position: relative;
    left: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-12 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-12 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-13 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-13 .project-description {
    position: relative;
    left: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-14 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-14 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-15 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-15 .project-description {
    position: relative;
    left: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-16 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-16 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-17 {
    flex-wrap: nowrap;
    margin-left: 33.3%;
  }
  .portfolios .project-17 .project-description {
    position: relative;
    left: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios .project-18 {
    flex-wrap: nowrap;
    margin-right: 33.3%;
  }
  .portfolios .project-18 .project-description {
    position: relative;
    right: 50px;
    top: 4em;
    font-size: 20px;
    padding: 2rem 2rem;
  }
  .portfolios img {
    height: 450px;
    width: 600px;
  }
}
