@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v12/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f7;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.title,
.contact {
  text-align: center;
  padding: 2em;
}
.title .head,
.contact .head {
  font-size: 30px;
  line-height: 40px;
}
.title small,
.contact small {
  font-size: 17px;
  line-height: 28px;
  color: #737373;
  margin-bottom: 20px;
}
.portfolios {
  margin: 2rem 0 0 0;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.portfolios img {
  width: 100%;
  border-radius: 10%;
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-description {
  padding: 2rem 1rem;
  margin-bottom: 1.5em;
  border-radius: 10%;
}
.portfolios .project-description h1 {
  color: #ccac00;
  text-align: left;
}
.portfolios .project-description p {
  margin-top: 1rem;
  text-align: left;
  color: #737373;
}
.portfolios .projects {
  margin-bottom: 3rem;
}
.portfolios .project-1 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-2 .project-description {
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: -6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.portfolios .project-2 img {
  margin-bottom: 1.5em;
}
.portfolios .project-3 .project-description {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.11) 37%, #fff 68%, #fff);
  box-shadow: 6px 6px 10px -3px rgba(150, 142, 150, 0.86);
}
.contact {
  background-color: gold;
  padding: 2em;
}
.contact input,
.contact textarea {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-top: 1em;
  width: 85%;
}
.contact textarea {
  resize: none;
}
.contact input[type="button"] {
  color: white;
  background-color: #ccac00;
  width: 95%;
}
::placeholder {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
footer {
  color: #ccac00;
  padding: 0.5em 2em;
}
footer a {
  color: #ccac00;
  float: right;
}
footer a svg {
  margin-right: 10px;
}
footer p {
  font-size: large;
  display: inline;
}
